@font-face {
 font-family: "PT Sans";
 src: ("..\fonts\ptsans-400.woff2") format("woff2");
 font-weight: 400;
 font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: ("..\fonts\ptsans-700.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
   }

   body {
   font-family: "PT Sans" sans-serif;  
   }