@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  background-color: #ffffff;
  color: #000000;
}

.button-subscribe,
.hotel-search-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #83b3d3;
  text-decoration: none;
  text-transform: uppercase;
}

.hotel-search-button {
  line-height: 36px;
  background-color: #756257;
}

.logo {
  width: 139px;
  margin-right: auto;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  width: 450px;
  margin: 0;
  padding: 0;
}

.navigation-user {
  max-width: 250px;
  margin-left: auto;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.background_image {
  background-color: #68a2ca;
  background-image: url(../images/background-main.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  height: 485px;
}

.divider {
  background-image: url(../images/divider.png);
  width: 1200px;
  height: 57px;
  margin-top: -57px;
}

.welcome_image {
  display: block;
  margin: 0px auto;
  padding-top: 51px;
  width: 458px;
  height: 352px;
}

.advantages-part,
.hotel-search-list {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-reasons {
  font-size: 22px;
  line-height: 36px;
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
}

.advantages-item-box {
  background-color: #83b3d3;
  color: #ffffff;
}

.hotel-search-date {
  font-size: 22px;
  line-height: 26px;
}

.email-subscribe {
  background-color: #68a2ca;
  background-image: url(../images/background-blur.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  height: 411px;
  color: #ffffff;
  text-align: center;
}

.remove {
  background-image: none;
  background-color: #ffffff;
  color: #000000;
}

.email-subscribe-list {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.email-subscribe-information {
  font-size: 22px;
  line-height: 26px;
}

.page-footer a {
  color: inherit;
  text-decoration: none;
}

.page-footer {
  background-image: url(../images/background-footer.png);
  height: 120px;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
}

/* Добавила display: flex чтобы было удобнее проверять визуально, т.к иначе фильтры наезжают на список */
.background-filter {
  background-image: url(../images/catalog-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  height: 408px;
  color: #ffffff;
  display: flex;
  margin-bottom: 50px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  width: 528px;
  height: 58px;
  margin-top: 35px;
  margin-left: 71px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.control-input,
.hotel-card-detail {
  font-size: 18px;
  line-height: 23px;
}

.hotel-card-detail {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hotel-found {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
  width: 340px;
  height: 39px;
  margin-bottom: 56px;
}

/* Возник вопрос, зачем я сделала как ссылку? Если для более подробной информации надо нажать "подробнее". Сейчас это решение кажется неверным */
.hotel-card-link {
  font-size: 24px;
  line-height: 31px;
  color: inherit;
  text-decoration: none;
}

.hotel-card-button,
.hotel-card-favorites {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  background-color: #756257;
  color: #ffffff;
  text-decoration: none;
}

.hotel-card-favorites {
  background-color: #83b3d3;
}

/* Убрала временно текст из разметки, чтобы звезды не сливались, пока я не поняла, как их доделать до конца*/
.stars {
  background-image: url(../images/star.svg);
  background-repeat: repeat-x;
  width: 91px;
  height: 17px;
}

.rating {
  font-size: 16px;
  line-height: 21px;
  background-color: #f2f2f2;
}

.pagination-show-more {
  display: flex;
  margin: 0 auto;
}

.pagination {
  display: flex;
}

.pagination-show-more {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #83b3d3;
  text-transform: uppercase;
}

.pagination-link {
  color: #ffffff;
  background-color: #83b3d3;
}

.htmlacademy-link {
  width: 115px;
  height: 33px;
  margin-right: 72px;
}

.footer-social-list {
  width: 107px;
  height: 18px;
  margin-left: 72px;
}

.hotel-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 72px;
  margin-right: 72px;
  padding: 0px;
}

.input {
  display: flex;
  width: 1200px;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0px;
}

.hotel-card-type {
  width: 133px;
}

.hotel-card-price {
  width: 143px;
}

.hotel-card-button {
  width: 133px;
}

.hotel-card-favorites {
  width: 140px;
}

.rating {
  width: 160px;
}

.hotel-card-title {
  width: 211px;
  height: 31px;
  font-size: 24px;
}

.advantages-item {
  width: 400px;
  height: 384px;
}

.advantages-list {
  display: flex;
  width: 1200px;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
}

.advantages-item-box {
  display: flex;
  width: 1400px;
  padding: 0;
  margin: 0;
}

.view-city,
.view-bridge {
  display: block;
}

.box {
  flex-direction: column;
}

.container-advantages,
.hotel-search {
  display: flex;
  align-items: center;
  flex-direction: column;
}
